h1,h2,h3 /*especificidad=1 */ 
{
    position: relative;
}
nav ul /*especificidad=2  */
{
    display: flex;
    justify-content: space-evenly;
}
body
{
    position: relative;
}
main/*especifidad=1*/
{
    position:relative;
}
figure /*especificidad=1 */
{
    float: left;
    
    padding-left: 4em;
}
img,video /*especificidad=1 */
{
    position: relative;
}




   