
nav ul /*especificidad=2  */
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#fotos-galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}



   